$white : #ffffff;
$black : #000000;
$red : #ff0000;
$dull-gray : #5f5f5f;
$gray-olive : #3d3a2d;
$mouse-gray : #6b6b6b;
$grandmas-apples : #add19a;
$light-blue : #8ecdf6;
$purple-craiola : #9786bd;
$crimson : #e296bf;
$light-gray : #b2b2b2;
$smoky-white : #f7f7f7;
$light-pink : #ffc3c3;
$blue-frost : #c3e8ff;